/*@import "~bootstrap-icons/font/bootstrap-icons.css";*/

#app-nav{
    padding: 1px;
    background-color: rgb(239, 215, 179);
}

#app-nav div ul li .nav-link {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(48, 83, 19);
    border-bottom: solid rgb(239, 215, 179) 5px;
}

#app-nav div ul li .nav-link:hover {
    border-bottom: solid rgb(48, 83, 19) 5px;
}

img.logo {width: 90px;}

.welcome{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.w-bg{
    background-image: url("../images/bg1.png") ;
    background-size: cover;
    width: 100%;
}

.w-bg div{
    height: 450px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    width: 100%;
    background-color: rgb(48, 83, 19);
}
footer div a {
    color : rgb(239, 215, 179);
    font-size: 38px;
}

footer div a:hover{
    color : rgb(239, 215, 179);
    filter : drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
}

footer div p{
    color : rgb(239, 215, 179);
}
